<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanshen.inspection.dianjian.mapper.DichannelDt0404972ResultMapper">

  <resultMap id="dichannelDt0404972ResultMap" type="com.lanshen.inspection.dianjian.entity.DichannelDt0404972ResultEntity">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="activeTrueValue" column="activeTrueValue"/>
        <result property="activeFalseValue" column="activeFalseValue"/>
  </resultMap>
</mapper>
